## Image Sizes and Resolutions

 - **Small - 1920x1054 - 220 Kb**
 - **Medium - 1920x1080 - 1.82 Mb**
 - **Large - 5616x3744 - 5.00 Mb**
 - **Huge - 10315x7049 - 9.70 Mb**

## GM (2 Runs)

**Round 1**

 - **GM Small: 1695ms**
 - **GM Medium: 1940ms**
 - **GM Large: 9326ms**
 - **GM Huge: 26342ms**

**Round 2**

 - **GM Small: 1784ms**
 - **GM Medium: 1925ms**
 - **GM Large: 9231ms**
 - **GM Huge: 25962ms**

## CLOUDINARY

 - **CL Small: 28785ms**
 - **CL Medium: 159560ms**
 - **CL Large: 332611ms**
 - **CL Huge: 413896ms**

## GM + S3

 - **GM Small: 7882ms**
 - **GM Medium: 9044ms**
 - **GM Large: 13368ms**
 - **GM Huge: 32718ms**

## CLOUDINARY + GM

 - **CLGM Small: 12995ms**
 - **CLGM Medium: 11042ms**
 - **CLGM Large: 13942ms**
 - **CLGM Huge: 38181ms**
